# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*/cmake-build-debug/

cyberpunk/assets/models/billboard_f29bf33e-53e0-49d4-b80c-4c574f0dbf7d/billboard_2K_88b92e27-8bfc-43f0-8361-7ac99080f567.blend
cyberpunk/assets/models/cyberpunk_buildi_79a03ef2-72f2-424d-840f-0331f025e26f/cyberpunk_building_2K_5279a1f0-7f2e-4073-89b1-73d2ee30c8fb.blend
cyberpunk/assets/models/happy_birthday\!__7e76709b-6563-4957-9168-5506aa7f0d05/happy_birthday\!_garland_095f22f6-ac01-4773-b6ff-2bd8ba1b64e1.blend
cyberpunk/assets/models/traffic_sign__ba_4ac66a88-7fde-4e5d-a9bd-8c082679926b/traffic_sign__ban_on_overtaking__2K_418d4a84-12c5-44ff-a97c-5cf481598aa3.blend
cyberpunk/assets/models/vintage_victoria_f22734ac-e55e-4178-aed7-c24ff242843f/vintage_victorian_street_sign_2K_48c57f2b-8d2c-4cde-a58e-6d0f396956bf.blend
cyberpunk/cyberpunk.blend
cyberpunk/cyberpunk.blend1
fa.blend
fa.blend1
